{% extends 'base/base.html' %}
{% block content %}
    <h2>上传音频</h2>
    <form method="post" enctype="multipart/form-data" id="uploadForm">
        <div id="fileInputsContainer">
            <!-- 直接显示一个可以选择多个音频文件的输入框 -->
            <input type="file" name="audio_files" multiple="multiple" accept=".mp3">
        </div>
        <br>
        <label for="{{ form.degree.id_for_label }}">选择难度:</label>
        {{ form.degree }}
        <br>
        <label for="{{ form.description.id_for_label }}">描述:</label>
        {{ form.description }}
        <br>
        <label>类别:{{ cat.name }}</label>
        <br>
        <button type="submit">上传</button>
    </form>

    <script>
        // 在表单提交时动态添加字段
        document.getElementById('uploadForm').addEventListener('submit', function(event) {
            var categoryIdInput = document.createElement('input');
            categoryIdInput.type = 'hidden';
            categoryIdInput.name = 'category_id';
            categoryIdInput.value = '{{ cat.id }}';
            this.appendChild(categoryIdInput);
            var resourceTypeInput = document.createElement('input');
            resourceTypeInput.type = 'hidden';
            resourceTypeInput.name = 'resource_type';
            resourceTypeInput.value = 'audio';
            this.appendChild(resourceTypeInput);
        });
    </script>
{% endblock %}
