{% extends 'base/base.html' %}
{% block content%}
<style>
    .textBox{
    width:50%;
    height:100px;
    margin:7px;
    }
    .box{
    width:90%;

    padding:10px;
    background-color:skyblue;
    border-radius: 10px;
    }
    .lableStyle{
    width:30px;
    padding:10px;
    background-color:pink;
    border-radius: 10px;
    margin:4px;
    }
    .selectBox{
    width:100%;
    border-radius: 10px;
    margin:4px;
    }
    input[type="submit"]:hover {
      background-color: #0056b3;
    }
</style>
    <h2>发布通知</h2>
    <form method="post" enctype="multipart/form-data" class="box">
        <input class="textBox" type="text" placeholder="请输入通知内容" name="content">
        <br>
        <div class="selectBox">
        教师用户：
            {% for item in users.teacher %}
            <label class="lableStyle">
                {{ item.username }}<input type="checkbox" name="teachers-{{item.id}}" value="{{item.id}}">
            </label>
            {% endfor %}
        </div>
        <br>
        <div class="selectBox">
            学生用户：
        {% for item in users.student %}
        <lable class="lableStyle">
            {{ item.username }}<input type="checkbox" name="students-{{item.id}}" value="{{item.id}}">
        </lable>

        {% endfor %}
        </div>
    <button type="submit">发送</button>

    </form>
{% endblock %}
