{% extends 'base/base.html' %}
{% block content%}
    <h2>上传一条视频</h2>
    <form method="post" enctype="multipart/form-data">
        <label for="{{ form.title.id_for_label }}">文件名</label>
        {{ form.title }}
        <br>
        <label for="{{ form.category.id_for_label }}">类别（用于检索）:</label>
        {{ form.category}}
        <br>
        <label for="{{ form.video_file.id_for_label }}">选择视频文件:</label>
        {{ form.video_file}}
        <br>
        <label for="{{ form.description.id_for_label }}">描述:</label>
        {{ form.description}}
        <br>
        <div id="select_list">
            <select name="parent_category" id="parent_category" class="custom-select">
                <option value="" selected>-- Select an option --</option>
                {% for value, label in cats %}
                    <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">上传</button>
    </form>
{% endblock %}
