<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actual Page</title>
    <style>
        body {
            background-color: #1f1f1f; /* 设置背景颜色为黑色 */
            color: white; /* 设置文本颜色为白色 */
        }
    </style>
</head>
<body>
    <h1>Faking Twitter Unfurling to phish you</h1>
    <h3>Do you trust links? Well, you shouldn't.</h3>
    <p>The user would typically be directed to this page in a real-world scenario, as it is specifically tailored to cater to the needs of individuals involved in fraudulent activities.</p>
</body>
</html>