{% extends 'base/base.html' %}
{% block content%}
<a href="/user_manage/students_index/">返回学生列表页</a>
<hr>
    <h2>修改学生信息</h2>
    <form method="post" enctype="multipart/form-data">
        <label for="{{ form.username.id_for_label }}">用户名：</label>
        <input type="text" name="{{ form.username.name }}" value="{{ initial_data.username }}">
        <br>
        <label for="{{ form.password.id_for_label }}">用户密码:</label>
        <input type="text" name="{{ form.password.name }}" value="{{ initial_data.password }}">
        <br>
        <label for="{{ form.nick_name.id_for_label }}">昵称:</label>
        <input type="text" name="{{ form.nick_name.name }}" value="{{ initial_data.nick_name }}">
        <br>
        <label for="{{ form.phone_number.id_for_label }}">电话号码:</label>
        <input type="text" name="{{ form.phone_number.name }}" value="{{ initial_data.phone_number }}">
        <br>
        <label for="{{ form.wechat_name.id_for_label }}">微信名:</label>
        <input type="text" name="{{ form.wechat_name.name }}" value="{{ initial_data.wechat_name }}">
        <br>
        <button type="submit" id="update-button" >修改</button>
    </form>
<button id="delete-button" data-resource-id="{{ stu_id }}">刪除</button><br>
<script>
document.getElementById("delete-button").addEventListener("click", function() {
        var resourceId = this.getAttribute("data-resource-id");
        var confirmDelete = confirm("你确认删除这名学生吗？");
        if (confirmDelete) {
            // 执行删除操作
            fetch(`/user_manage/students_delete/${resourceId}/`,{method:'DELETE'})
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert("学生删除成功");
                        window.location.href = "/user_manage/students_index/";
                        // 如果需要，可以执行其他操作，比如刷新页面
                    } else {
                        alert("学生删除失败，请联系后台开发人员");
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                });
        }
    });
document.getElementById("update-button").addEventListener("click", function() {
        alert("修改成功！")
    });
</script>
{% endblock %}
