{% extends 'base/base.html' %}
{% block content%}
    <h2>添加老师</h2>
    <form method="post" enctype="multipart/form-data">
        <label for="{{ form.username.id_for_label }}">用户名：</label>
        {{ form.username }}
        <br>
        <label for="{{ form.password.id_for_label }}">用户密码:</label>
        {{ form.password}}
        <br>
        <label for="{{ form.phone_number.id_for_label }}">电话号码:</label>
        {{ form.phone_number}}
        <br>
        <label for="{{ form.is_admin.id_for_label }}">是否为管理员:</label>
        {{ form.is_admin}}
        <br>
        <button type="submit">上传</button>
    </form>
{% endblock %}
